<div class="mb-4">
    <div class="card" style="width: 16rem;">
      <img src="..." class="card-img-top" alt="Avatar">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ user.first_name }}</p>
        <ul>
            <li class="card-subtitle mb-2 text-muted">test</li>
            <li class="card-subtitle mb-2 text-muted">test</li>
            <li class="card-subtitle mb-2 text-muted">test</li>
            <li class="card-subtitle mb-2 text-muted">test</li>
            <li class="card-subtitle mb-2 text-muted">test</li>
        </ul>
        <p class="card">Likes: 0</p>
        <a href="/profile/{{ user.username }}" class="btn btn-primary">View Profile</a>
        <button class="btn" alt="Like">Like</button>
    </div>
  </div>
</div>